*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background: rgb(163, 163, 180);
  font-weight: 300;
  line-height: 1.6;
}


.legend {
    margin: 3rem 0 0 0;
    text-align: center;
}

.legend span {
    font-size: 1.8rem;
    padding: 1.5rem;
    margin: 0 0;
}

h2 {
  color: #000000;
  font-size: 10pt;
}

.pipeline {
  background-color: lightgray;
  border: 1px solid #aaaaaa;
  margin: 5px;
  padding: 10px;
  width: 300px;
  height: 140px;
  position: relative;
  float: left;
}

.stage {
  font-size: 8pt;
  border: 1px solid #aaaaaa;
  margin: 2px;
  height: 13px;
}

.stat_succeeded {
    color: white;
  border-color: green;
    background-color: green;
    border: 1px solid black;
}

.stat_failed {
  color: white;
  border-color: red;
    background-color: red;
    border: 1px solid black;
}

.stat_inprogress {
  color: white;
    background-color: #eb6f00;
    border: 1px solid black;
}

.stage_name {
  width: 50%;
    float: left;
    padding: 3.3px;
}

.stage_latestexecution {
    padding: 3.3px;
  font-size: 6pt;
  text-align: right;
  width: 50%;
  float: right;
}

.dateinfo {
  background-color: gainsboro;
  text-align: center;
    font-size: 1rem;
  margin: 2px;
  bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}