body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10pt;
    background-color: black;
}

.body_contrast {
    color: white;
}

.side {
    -webkit-transform: rotate(90deg); /* Safari and Chrome */
    -moz-transform: rotate(90deg); /* Firefox */
    -ms-transform: rotate(90deg); /* IE 9 */
    -o-transform: rotate(90deg); /* Opera */
    transform: rotate(90deg);
    position: absolute;
    right: 0;
    top: 70px;
}

h2 {
    color: #000000;
    font-size: 10pt;
}

.pipeline {
    background-color: lightgray;
    border: 1px solid #aaaaaa;
    margin: 5px;
    padding: 10px;
    width: 300px;
    height: 140px;
    position: relative;
    float: left;
}

.stage {
    font-size: 8pt;
    border: 1px solid #aaaaaa;
    margin: 2px;
    height: 13px;
}

.stat_succeeded {
    border-color: lightgreen;
    background-color: lightgreen;
}

.stat_failed {
    border-color: red;
    background-color: red;
}

.stat_inprogress {
    border-color: lightblue;
    background-color: lightblue;
}

.stage_name {
    width: 50%;
    float: left;
}

.stage_latestexecution {
    font-size: 6pt;
    text-align: right;
    width: 50%;
    float: right;
}

.dateinfo {
    background-color: gainsboro;
    text-align: center;
    font-size: 10px;
    margin: 2px;
    bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
