<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!--                       -->
    <!-- Configuration Section -->
    <!--                       -->

    <!-- Change the title of the Dashboard here -->
    <title>CodePipeline Dashboard</title>

    <!-- Adjust the color (or other styling) of the line that indicates human interaction is needed -->
    <style>
        .stage-needs-action {
            background-color: yellow !important;
        }
        .stage-failed {
            background-color: #dc3545 !important;
            color: white !important;
        }
    </style>

    <!-- Add to the list of stageName/status that requires human interaction -->
    <script type="application/javascript">
        let needsHumanInteraction = [
            {
                stage: "Human",
                status: "inprogress"
            }
        ];
    </script>

    <!--                              -->
    <!-- End of Configuration Section -->
    <!--                              -->

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous" />
</head>

<body class="bg-dark">

    <div id="app">

        <div class="container-fluid">
            <pageheader/>
        </div>

        <div class="container-fluid">
            <router-view></router-view>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js" th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>

    <script src="https://cdn.jsdelivr.net/npm/moment@2.19.1/min/moment.min.js" th:src="@{/webjars/momentjs/2.19.1/min/moment.min.js}"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.2/dist/vue.min.js" th:src="@{/webjars/vue/2.5.2/vue.min.js}"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue-router@3.0.1/dist/vue-router.min.js"></script>

    <script src="../static/js/pipelineService.js" th:src="@{/js/pipelineService.js}"></script>

    <script src="../static/js/pipelineBox.js" th:src="@{/js/pipelineBox.js}"></script>

</body>

</html>